{% extends 'shop/base_without_navbar.html' %}
{% load static %}
{% load form_tags %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container mt-5">
    <h4 class="text-center fw-bold" style="color: #4E50B4;">Regístrate</h4>
    <div class="card mx-auto" style="width: 400px;"> <!-- Tarjeta centrada -->
        <div class="card-body">
            <form method="POST" class="mt-4">
                {% csrf_token %}

                <div class="form-group mb-3"> <!-- Espacio entre inputs -->
                    <input type="text" class="form-control" id="{{ form.full_name.id_for_label }}" name="full_name" placeholder="{{ form.full_name.label }}" required>
                    {{ form.full_name.errors }}
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="{{ form.phone_number.id_for_label }}" name="phone_number" placeholder="{{ form.phone_number.label }}" required>
                    {{ form.phone_number.errors }}
                </div>

                <div class="form-group mb-3">
                    <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="email" placeholder="{{ form.email.label }}" required>
                    {{ form.email.errors }}
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="username" placeholder="{{ form.username.label }}" required>
                    {{ form.username.errors }}
                </div>

                <div class="form-group mb-3">
                    <input type="date" class="form-control" id="{{ form.birth_date.id_for_label }}" name="birth_date" required>
                    {{ form.birth_date.errors }}
                </div>

                <div class="form-group mb-3">
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="password1" placeholder="{{ form.password1.label }}" required>
                    {{ form.password1.errors }}
                </div>

                <div class="form-group mb-4">
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="password2" placeholder="{{ form.password2.label }}" required>
                    {{ form.password2.errors }}
                </div>

                <button type="submit" class="btn rounded-pill w-100" style="color: #fff; background-color: #4E50B4;">Registrarse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}





